@import "tailwindcss";
@font-face {
  font-family: 'JameelNoori';
  src: url('./assets/fonts/JameelNooriNastaleeq.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* Hide Google Widget */
#google_translate_element {
  display: none;
}

.goog-te-banner-frame.skiptranslate {
  display: none !important;
}

body {
  top: 0 !important;
}

.goog-te-gadget {
  display: none !important;
}

.goog-te-combo {
  display: none !important;
}

/* Animation */
@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(10px) scale(.96);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.animate-fade {
  animation: fade .25s ease;
}
.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #facc15;
    border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #eab308;
}
/* Hide Google Translate banner */
.goog-te-banner-frame.skiptranslate {
  display: none !important;
}

iframe.goog-te-banner-frame {
  display: none !important;
}

body {
  top: 0 !important;
}

html {
  margin-top: 0 !important;
}